.idea/
bin/
include/
lib/
__pycache__/
core/__pycache__/
core/__init__.py
ecommerce/__pycache__/settings.cpython-36.pyc
ecommerce/__pycache__/urls.cpython-36.pyc
www/media/
www/media/_versions/
www/media/_versions/_versions/_versions/
local_settings.py